# Database PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5432/day4_ticketing?schema=public"

# JWT Secret
JWT_SECRET="your-super-secret-key-here"
JWT_EXPIRES_IN="7d"

# Server Port
PORT=3000
